<!DOCTYPE html>
<html>
  <head>
    <title>Minecraft Server Dashboard</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar has-background-light">
      <span class="navbar-item">Minecraft Server Dashboard</span>
    </nav>
    <div id="dashboard"></div>
    <script src="public/javascript/socket.js"></script>
  </body>
</html>